<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <%# Page metadata -%>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <meta http-equiv="Content-Language" content="en-au" />

    <meta name="keywords" content="Ethicist, Researcher, Writer, Commentator, Melbourne, Victoria, Australia" />

    <meta name="description" content="<%= @page.settings['Page description'] || "Leslie Cannold - Ethicist, Researcher, Writer, Commentator." %>" />

    <meta name="designer" content="Limelight Design Studios" />

    <meta name="generator" content="Blueprint" />

    <%# TODO: Enter copyright details below: -%>

    <meta name="copyright" content="© Leslie Cannold" />



    <%# Stylesheets %>

    <link href="/static/styles/cannold.css" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag("/static/styles/dev.css", :media => "all") %>

    <%= stylesheet_link_tag("/static/styles/uni-form.css", :media => "all") %>

    <%= stylesheet_link_tag("/static/styles/golden-min.css", :media => "all") %>

    <%#= stylesheet_link_tag("/static/styles/all.css", :media => "all") %>

    <%= stylesheet_link_tag("/static/styles/print.css", :media => "print") %>

    <%# TODO: Uncomment if you are using the shop: -%>

    <%# FIXME: this should point at "blueprints/shp/basket.css"! %>

    <%#= stylesheet_link_tag '/static/styles/basket.css' -%>



    <%# Javascripts -%>
    
    <%= site_ingredient 'google-analytics' %>

    <%= javascript_include_tag('cookie') %>

    <%= javascript_include_tag('prototype') %>

    <%= javascript_include_tag('/static/scripts/site.js') %>

    <%# TODO: Uncomment if you are using the shop: -%>

    <%#= javascript_include_tag('effects') %>

    <%#= javascript_include_tag('blueprints/shp/basket') %>



    <%#

      TODO: Uncomment if you are using the blog (assumes a top-level BLG page

      called "Blog"):

    -%>

    <%#= javascript_include_tag('blueprints/blg/commentator') %>

    <%#= javascript_tag("new BlgCommentator('blog');") %>



    <%# TODO: Uncomment if you are using the membership blueprint %>

    <%#= javascript_include_tag('blueprints/mem/members.js') %>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57145e5233f87bf2"></script>


    <link rel="icon" href="/static/images/fav.png" type="image/png" />

    

    <!--[if IE]>

    <style type="text/css"> 

    /* place css fixes for all versions of IE in this conditional comment */

    .twoColHybLt #sidebar1 { padding-top: 20px; }

    .twoColHybLt #mainContent { zoom: 1; padding-top: 15px; }

    /* the above proprietary zoom property gives IE the hasLayout it may need to avoid several bugs */

  </style>

    <![endif]-->

    

    <% default_content_for :title do %>
    
    <title><%= "#{@page.settings['Page title'] || @page_title || @page.title} - #{@site.name}" %></title>

    
    <% end %>



    <%= yield :head %>



  </head>



  <%# This body id allows namespacing of CSS per blueprint. -%>

  <body id="<%= @page.blueprint.code %>" class="twoColHybLt">



<div id="container">
  
  <div class="logobanner">

        <img src="/static/images/cannold-banner.jpg" alt="Leslie Cannold: Writer, Commentator, Ethicist, Researcher" width="443" height="98" />

       </div>
  
  

  <div id="sidebar1">

    

    <div class="nav">

        <ul>

          <li class="nav_home"><a href="/">HOME</a></li>

          <li class="nav_about"><a href="/about">ABOUT</a></li>

          <li class="nav_services"><a href="/services">SERVICES</a></li>

          <li class="nav_events"><a href="/events">EVENTS</a></li>

          <li class="nav_books"><a href="/books">BOOKS</a></li>

          <li class="nav_writings"><a href="/writings">WRITINGS</a></li>

          <li class="nav_research"><a href="/research">RESEARCH</a></li>

          <li class="nav_media"><a href="/in-the-media">IN THE MEDIA</a></li>

        <!--  <li class="nav_band"><a href="/band">BAND</a></li> -->

        </ul>

    </div>
    
    <div class="post-it">
      <ul>
        <li><a href="http://twitter.com/lesliecannold"><img src="/static/images/twitter.png" alt="Twitter" />Twitter</a></li>
        <li><a href="http://www.facebook.com/leslie.cannold"><img src="/static/images/facebook.png" alt="Facebook" />Facebook</a></li>
        <li><a href="https://www.youtube.com/user/lesliecannold"><img src="/static/images/youtube.png" alt="YouTube" />YouTube</a></li>
        <li><a href="https://www.linkedin.com/in/drlesliecannold"><img src="/static/images/linkedin.png" alt="Linkedin" />Linkedin</a></li>
      </ul>
    </div>

  <!-- end #sidebar1 -->   

  </div>

  <div id="mainContent">

  <div class="titlebanner"><%= ingredient 'breadcrumbs' -%></div>

  <%= yield %>

  <%= page_ingredient(
    'articles', 
    'tag', 
    :template => 'books_sidebar',
    :id => 'sidebar'
    )
  %>
</div>

<!-- end #mainContent -->

</div>

    <!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->

  <br class="clearfloat" />

<!-- end #container --></div>

<div id="footer"></div>

    <div class="footertext">Email: <a href="mailto:leslie@cannold.com">leslie@cannold.com</a>  Mobile: 0417 114 859  Fax: +61 3 9348 2015  -  PO Box 1337, St Kilda South VIC 3182 Australia</div>

<div id="footer"></div>

   <p> </p>    

  </body>

</html>

