<div id="left">

<div class="body body<%= @article.tags.first.phrase if ((not @article.nil?) and @article.tags.any?) %>">
  
  <h2><%= @article.title %></h2>
    
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div> 
  

   <%= @article.content_markup %>
  <p><%= link_to(@article.link, @article.link) unless @article.link.blank? %></p>

<% citations = @article.citations.select {|c| c.citation_type == "Cited"} %>
<% publications = @article.citations.select {|c| c.citation_type == "Published"} %>


<% if publications.any? %>
 <div class="citation">
  <h4>Publication History</h4>
    <blockquote>
    <% publications.each do |cite| %>
      <%= cite.headline %>, <em><%= cite.publication %></em><br />
    <% if not cite.date.blank? %>
      <%= cite.date.strftime("%d %b %Y") %> <br />
    <% end %>
    <% if not cite.link.blank? %>
      <%= link_to(cite.link, cite.link) %><br />
    <% end %>
    <% if not cite.comment.blank? %>
      <%= cite.comment %><br />
    <% end %>

    <% end %>
    </blockquote>
  </div>
<% end %>

<% if citations.any? %> 
  <div class="citation">
  <h4>Citations</h4>
    <blockquote>
  <% citations.each do |cite| %>
      <%= cite.headline %>, <em><%= cite.publication %></em><br />
    <% if not cite.date.blank? %>
      <%= cite.date.strftime("%d %b %Y") %><br />
    <% end %>
    <% if not cite.link.blank? %>
      <%= link_to(cite.link, cite.link) %><br />
    <% end %>
    <% if not cite.comment.blank? %>
      <%= cite.comment %><br />
    <% end %>
    <br />
  <% end %>
    </blockquote>
  </div>
 <% end %>

  </div>
  
  <p class="back">
   <%= link_to_page("â† Back to #{@page.title} index", @page) %>
  </p>
  
</div>

