<%#
  @phrase -> the text of the tag
  @results -> an array of objects that have this tag
%>

<h1>Posts tagged with '<%= @phrase %>':</h1>

<% if @results.any? %>

  <% @results.each do |post| %>
    <div class="post">  
      <h2>
        <%= link_to_news_post(post.title, post) -%>&mdash;
        <%= post.publish_on.strftime("%d.%m.%Y") %>     
      </h2>
    
      <%= post.content_markup %>
    
    </div>
  <% end %>
  
<% else %>
  <p>There are no news posts tagged with '<%= @phrase %>'.</p>
<% end %>

<p class="back">
  <%= link_to_page("&#x2190; Back to #{@page.title} index", @page) %>
</p