<div class="cmt preview">
  <h4 class="commenter">         
    <% if @comment.author_url.blank? %>
      <%= h(@comment.author_name) %>
    <% else %>
      <%= link_to(
        h(@comment.author_name), 
        h(@comment.author_url), 
        :rel => 'nofollow'
      ) %> 
    <% end %>
    &mdash; <%= Time.now.strftime("%d %B at %I:%M%p") %>
    <span class="hidePreview"> 
      <%= link_to_function(
        "Hide preview", 
        "$('commentPreview').hide()",
        :class => "hide"
      ) %>  
    </span>
  </h4>
  <div class="comment">
    <%= @comment.content_markup %>   
  </div>
</div>