<div class="book">
  <p><img src="/static/images/book-small-<%= article.slug %>.jpg" width="56" height="86" alt="<%= article.title %> cover image" class="bookimg">
  <strong><%= article.title %></strong> <%= article.settings['side excerpt'] %></p>
  <p>
    <a href="/articles/article/<%= article.slug %>/" class="more">more</a> <img src="/static/images/arrow.gif" width="13" height="9" alt=" "><br>
    <a href="<%= article.settings['purchase link'] %>" class="more">purchase</a> <img src="/static/images/arrow.gif" width="13" height="9" alt=" ">
  </p>
</div>

