<div class="body body<%= article.tags.any? ? article.tags.first.phrase : "" %> indexsummary">
  
  <h2><%= link_to(article.title, @page.url(:action => 'article', :id => article.slug)) %></h2>
  
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
  <%= tag(:p) %>
  
  <% if article.excerpt.blank? %>
  
  <%= article.content_markup.match(/(<p>[\D\d]*?<\/p>)/) %>
     
     <%#= article.content_markup.truncate_html(100) %>  
  
  <% else %>
     <%= article.excerpt_markup %> 
  <% end %>
  
  <span class="moreinline">
    <%= link_to("more", @page.url(:action => 'article', :id => article.slug)) %> <img src="/static/images/arrow.gif" width="13" height="9" alt=" ">
  </span>
  
</div>